<form id="contactForm" action="/Home/Contact">
    <label for="first_name">Name *</label><br>

    <input type="text" name="Name" maxlength="100" style="width:100%;"> <br>

    <label for="email">Email Address *</label><br>

    <input type="text" name="email" maxlength="80" style="width:100%;"><br>

    <label for="comments">Comments *</label>
    <textarea name="comments" maxlength="1000" cols="25" rows="6"></textarea><br>

    <input type="submit" class="button" style="padding:1px 20px 0px 20px" value="Submit">
</form>